In [15]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
os.getcwd()
os.chdir('/Users/kylehoward/desktop/thinkful/thinkful-2') 
os.getcwd()

'/Users/kylehoward/Desktop/Thinkful/Thinkful-2'

In [16]:
data_path = ("FBI_data_4.csv")
fbi = pd.read_csv(data_path, header=None)
fbi.columns = ['city', 'population', 'violent_crime', 'murder', 'rape_rev', 'rape', 'robbery', 'assault', 'prop_crime', 'burglary', 'theft', 'gta', 'arsen']
fbi.head(100)

,city,population,violent_crime,murder,rape_rev,rape,robbery,assault,prop_crime,burglary,theft,gta,arsen
0,field1,field2,field3,field4,field5,field6,field7,field8,field9,field10,field11,field12,field13
1,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
5,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
6,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
7,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
8,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
9,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
10,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
11,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
12,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
13,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
14,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
15,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
16,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
17,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
18,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
19,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
20,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
21,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
22,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
23,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
24,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
25,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
26,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
27,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
28,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
29,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Croton-on-Hudson Village,8180,1,0,NaN,0,1,0,53,8,43,2,NaN
71,Cuba Town,3209,5,0,NaN,1,0,4,81,7,72,2,0
72,Dansville Village,4605,2,0,NaN,0,1,1,152,24,120,8,0
73,Deerpark Town,7827,7,0,NaN,2,2,3,152,52,100,0,NaN
74,Delhi Village,2985,1,0,NaN,0,0,1,36,4,30,2,NaN
75,Depew Village,15189,17,0,NaN,3,2,12,310,54,251,5,2
76,Deposit Village,1628,0,0,NaN,0,0,0,14,6,8,0,0
77,Dewitt Town,22681,20,0,NaN,0,10,10,715,85,618,12,0
78,Dexter Village,1122,0,0,NaN,0,0,0,8,2,6,0,0
79,Dobbs Ferry Village,11021,1,0,NaN,0,0,1,104,13,89,2,0
80,Dolgeville Village,2191,7,0,NaN,0,0,7,41,6,34,1,NaN
81,Dryden Village,1913,3,0,NaN,0,1,2,99,6,93,0,NaN
82,Dunkirk,12329,40,0,NaN,0,12,28,307,78,228,1,NaN
83,East Aurora-Aurora Town,13774,5,0,NaN,0,2,3,131,24,105,2,0
84,Eastchester Town,19800,2,0,NaN,0,0,2,168,13,154,1,0
85,East Fishkill Town,29315,9,1,NaN,0,1,7,165,18,141,6,NaN
86,East Greenbush Town,16470,12,0,NaN,0,4,8,373,36,330,7,4
87,East Hampton Town,19674,20,0,NaN,2,1,17,300,56,237,7,NaN
88,East Hampton Village,1104,0,0,NaN,0,0,0,66,4,60,2,0
89,East Rochester Village,6596,8,1,NaN,0,3,4,125,25,97,3,NaN
90,East Syracuse Village,3036,8,0,NaN,0,4,4,147,19,121,7,0
91,Eden Town,7684,1,0,NaN,0,0,1,31,7,24,0,0
92,Ellenville Village,4124,17,0,NaN,1,2,14,173,41,132,0,1
93,Ellicott Town,5144,7,0,NaN,1,1,5,288,53,235,0,NaN
94,Elmira,28921,81,0,NaN,2,29,50,1027,224,790,13,NaN
95,Elmira Heights Village,4079,2,0,NaN,0,1,1,89,9,78,2,0
96,Elmira Town,5948,0,0,NaN,0,0,0,1,0,1,0,0
97,Endicott Village,13122,46,0,NaN,4,13,29,604,138,455,11,NaN
98,Evans Town,16292,17,0,NaN,1,1,15,313,48,259,6,5
99,Fairport Village,5335,5,0,NaN,1,0,4,53,13,37,3,NaN

In [23]:
fbi = fbi[1:]
fbi.head(10)

,city,population,violent_crime,murder,rape_rev,rape,robbery,assault,prop_crime,burglary,theft,gta,arsen
1,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,0,30,227,526,4090,705,3243,142,0
5,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0
6,Alfred Village,4089,5,0,0,0,3,2,46,10,36,0,0
7,Allegany Village,1781,3,0,0,0,0,3,10,0,10,0,0
8,Amherst Town,118296,107,1,0,7,31,68,2118,204,1882,32,3
9,Amityville Village,9519,9,0,0,2,4,3,210,16,188,6,1
10,Amsterdam,18182,30,0,0,0,12,18,405,99,291,15,0

In [24]:
fbi = fbi.fillna(0)

In [25]:
fbi.head(10)

,city,population,violent_crime,murder,rape_rev,rape,robbery,assault,prop_crime,burglary,theft,gta,arsen
1,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,0,30,227,526,4090,705,3243,142,0
5,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0
6,Alfred Village,4089,5,0,0,0,3,2,46,10,36,0,0
7,Allegany Village,1781,3,0,0,0,0,3,10,0,10,0,0
8,Amherst Town,118296,107,1,0,7,31,68,2118,204,1882,32,3
9,Amityville Village,9519,9,0,0,2,4,3,210,16,188,6,1
10,Amsterdam,18182,30,0,0,0,12,18,405,99,291,15,0

In [30]:
fbi['population'] = fbi['population'].astype(int)

In [37]:
fbi['population_squared'] = fbi['population'] * fbi['population']
fbi['population_squared'].head(10)

1         3463321
2         6640929
3         8099716
4      9595377936
5        40806544
6        16719921
7         3171961
8     13993943616
9        90611361
10      330585124
Name: population_squared, dtype: int64

In [41]:
fbi['murder'] = fbi['murder'].astype(int)
fbi['has_murder'] = np.where(fbi['murder']>=1, 1, 0)
fbi['has_murder'].head(10)

1     0
2     0
3     0
4     1
5     0
6     0
7     0
8     1
9     0
10    0
Name: has_murder, dtype: int64

In [42]:
fbi['robbery'] = fbi['robbery'].astype(int)
fbi['has_robbery'] = np.where(fbi['robbery']>=1, 1, 0)
fbi['has_robbery'].head(10)

1     0
2     0
3     0
4     1
5     1
6     1
7     0
8     1
9     1
10    1
Name: has_robbery, dtype: int64