In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans
from sklearn.cluster import MeanShift, estimate_bandwidth
from sklearn.cluster import SpectralClustering
from sklearn.cluster import AffinityPropagation
from sklearn import metrics
%matplotlib inline
import os
os.getcwd()
os.chdir('/Users/kylehoward/desktop/thinkful/thinkful-2') 
os.getcwd()

'/Users/kylehoward/Desktop/Thinkful/Thinkful-2'

In [2]:
data = ("bmar_results.csv")
df = pd.read_csv(data)
df['30k'].astype(int, errors='ignore')
df['40k'].astype(int, errors='ignore')
df = df.drop('country', axis=1)
df = df.drop('ctz', axis=1)
df = df.drop('city', axis=1)
df = df.drop('state', axis=1)
df = df.drop('bib', axis=1)
df = df.sort_values('5k', ascending=True)
df.describe()

,division,age,official,genderdiv,overall,pace
count,31984.000000,31984.000000,31984.000000,31984.000000,31984.000000,31984.000000
mean,1932.563032,42.407079,242.997314,8051.044741,15939.587825,9.275658
std,1715.228694,11.316496,52.300431,4754.005626,9232.978224,1.992486
min,1.000000,18.000000,80.600000,1.000000,1.000000,3.080000
25%,610.000000,33.000000,205.527500,3972.000000,7943.750000,7.850000
50%,1425.000000,42.000000,232.370000,7970.000000,15939.500000,8.870000
75%,2611.000000,50.000000,273.235000,11968.000000,23935.250000,10.430000
max,6979.000000,81.000000,538.880000,17575.000000,31931.000000,20.570000

In [3]:
f_k = []
fk = df['5k']
for i in fk:
    if i == '-':
        i = 0 
        f_k.append(i)
    else:
        f_k.append(1)
df['5k_comp'] = f_k

t_k = []
tk = df['10k']
for i in tk:
    if i == '-':
        i = 0 
        t_k.append(i)
    else:
        t_k.append(1)
df['10k_comp'] = t_k

h_k = []
hk = df['half']
for i in hk:
    if i == '-':
        i = 0 
        h_k.append(i)
    else:
        h_k.append(1)
df['half_comp'] = h_k

tw_k = []
twk = df['20k']
for i in twk:
    if i == '-':
        i = 0 
        tw_k.append(i)
    else:
        tw_k.append(1)
df['20k_comp'] = tw_k

twf_k = []
twfk = df['25k']
for i in twfk:
    if i == '-':
        i = 0 
        twf_k.append(i)
    else:
        twf_k.append(1)
df['25k_comp'] = twf_k

th_k = []
thk = df['30k']
for i in thk:
    if i == '-':
        i = 0 
        th_k.append(i)
    else:
        th_k.append(1)
df['30k_comp'] = th_k

thf_k = []
thfk = df['35k']
for i in thfk:
    if i == '-':
        i = 0 
        thf_k.append(i)
    else:
        thf_k.append(1)
df['35k_comp'] = thf_k

for_k = []
fork = df['40k']
for i in fork:
    if i == '-':
        i = 0 
        for_k.append(i)
    else:
        for_k.append(1)
df['40k_comp'] = for_k

In [4]:
df.head(50)

,10k,name,division,25k,gender,age,official,genderdiv,35k,overall,...,20k,40k,5k_comp,10k_comp,half_comp,20k_comp,25k_comp,30k_comp,35k_comp,40k_comp
30818,55.42,"Joyce, Patrick H.",4521,145.93,M,39,264.53,13149,216.72,22585,...,114.83,249.92,0,1,1,1,1,1,1,1
836,38.28,"Moosbrugger, Michael",2701,100.75,M,32,194.87,4672,150.93,5252,...,79.12,181.07,0,1,1,1,1,1,1,1
24071,59.8,"Ligenza, Brett R.",2693,158.65,M,45,306.95,15633,242.77,27814,...,123.3,284.98,0,1,1,1,1,1,1,1
19686,-,"Chapman, Nancy L",16,-,F,50,195.33,620,153.83,5359,...,-,182.78,0,0,0,0,0,0,1,1
8419,-,"Pater, Stephen W",2150,117.15,M,42,273.35,13794,205.55,23958,...,-,251.63,0,0,1,0,1,1,1,1
28688,-,"Olsen, Jenifer",827,-,F,41,226.47,4763,181.03,14315,...,-,212.9,0,0,0,0,0,1,1,1
26875,59.18,"McLaughlin, Laura K.",1086,154.48,F,53,278.20,10486,226.47,24556,...,121.92,262.82,0,1,1,1,1,1,1,1
27144,-,"Maples, Alex S.",2993,117.77,F,28,225.57,4614,180.08,14072,...,87.7,212.17,0,0,1,1,1,1,1,1
29082,-,"Olsen, Ron H",1812,-,M,47,226.45,9552,180.92,14314,...,-,212.82,0,0,0,0,0,1,1,1
17316,49.33,"Didonato-Sroczenski, Gia",3020,127.45,F,36,225.92,4682,184.4,14177,...,100.37,213.23,0,1,1,1,1,1,1,1
27507,65.67,"Slater, Lisa P.",5681,173.33,F,35,297.75,11769,244.9,27019,...,135.33,281.58,0,1,1,1,1,1,1,1
30819,-,"Lapman, Helene",75,-,F,63,255.83,8652,198.77,21125,...,-,237.67,0,0,0,0,0,0,1,1
28567,-,"Safford, Elizabeth",6016,-,F,37,314.05,12463,-,28411,...,-,301.63,0,0,0,0,0,0,0,1
26030,67.12,"Gillis, Sabrina M.",6391,183.53,F,36,334.65,13183,273.18,29798,...,140.83,317.05,0,1,1,1,1,1,1,1
26399,62.33,"Finaldi, Maureen A.",1901,161.83,F,45,289.70,11306,240.27,26089,...,128.8,276.1,0,1,1,1,1,1,1,1
18480,55.82,"Decoteau, Pavla",1804,153.92,F,40,278.28,10495,228.15,24570,...,120.92,263,0,1,1,1,1,1,1,1
13436,-,"Hennessey, Brian J",1905,122.85,M,54,260.58,12860,186.47,21963,...,98.28,232.77,0,0,1,1,1,1,1,1
14132,-,"Ravensberg, Katherine",3510,-,F,27,233.82,5930,171.38,16350,...,-,215.78,0,0,0,0,0,0,1,1
29734,-,"Murphy, Maura",3863,-,F,24,240.25,6956,-,18145,...,-,226.73,0,0,0,0,0,0,0,1
8369,45.3,"Battaglia, Stefano",2400,117.35,M,47,268.72,13467,189.88,23252,...,92.33,245.72,0,1,1,1,1,1,1,1
29855,-,"Collins, Robert E",618,-,M,53,204.90,6362,156.15,7785,...,-,190.35,0,0,0,0,0,1,1,1
25490,-,"Gordon, Michelle K.",6718,200.3,F,21,360.92,13825,293.45,30975,...,155.75,342.57,0,0,1,1,1,1,1,1
31594,-,"Fernandez Maldonado, Roberto",3139,-,M,32,204.47,6275,171.33,7637,...,-,194.35,0,0,0,0,0,1,1,1
29600,-,"Hartnick, Elizabeth",1977,-,F,47,297.93,11783,242.7,27040,...,-,281.13,0,0,0,0,0,1,1,1
30427,-,"Kenney, Elizabeth M.",1500,-,F,44,253.85,8448,205.25,20760,...,-,238.57,0,0,0,0,0,0,1,1
29282,-,"Chmielewski, Karina",4645,142.48,F,38,263.02,9294,222.42,22332,...,112.12,250.7,0,0,1,1,1,1,1,1
25753,-,"Gaherin, Seana",705,193.3,F,55,347.17,13544,288.05,30490,...,-,328.5,0,0,1,0,1,1,1,1
1333,44.55,"Thoman, Dave",2692,112.18,M,28,194.68,4633,160.52,5206,...,89.68,184.47,0,1,1,1,1,1,1,1
27666,-,"Kouri, Suzanne",1909,-,F,48,290.20,11340,240.57,26155,...,-,275.05,0,0,0,0,0,0,1,1
30312,-,"Daye, Alison A",2036,-,F,41,312.05,12377,262.4,28254,...,-,296.7,0,0,0,0,0,0,1,1
30635,-,"Graves, Crista M",1718,-,F,44,270.45,9927,206.02,23516,...,-,251.58,0,0,0,0,0,1,1,1
30328,-,"Harris, Betsy",596,-,F,56,297.15,11730,-,26931,...,-,280.22,0,0,0,0,0,0,0,1
15846,49.03,"Coyne, Jennifer",3208,125.83,F,27,228.97,5165,184.62,15010,...,99.12,214.83,0,1,1,1,1,1,1,1
27698,61.3,"Coy, Shana S.",5858,162.65,F,30,305.40,12127,246.45,27694,...,127,287.8,0,1,1,1,1,1,1,1
30419,-,"Fahs, Virginia C",1551,105.68,F,22,209.62,2040,165.88,9207,...,-,196.47,0,0,0,0,1,1,1,1
17298,57.35,"Mckay, Kerri",4550,145.65,F,39,259.92,9046,211.67,21854,...,115.37,245.6,0,1,1,1,1,1,1,1
7417,-,"Dennier, Ana C",1650,-,F,42,264.28,9412,218.07,22540,...,-,251.72,0,0,0,0,0,0,1,1
6241,42.28,"McCann, Emily",37,106.65,F,41,189.32,331,153.13,3996,...,84.78,178.15,0,1,1,1,1,1,1,1
16901,48.68,"McCreesh, Loren",471,122.6,F,45,223.70,4309,178,13527,...,97.63,210.88,0,1,1,1,1,1,1,1
31911,56.15,"Marinsik, Dan S.",1517,152.45,M,55,294.33,15063,235.43,26633,...,117.73,276.2,0,1,1,1,1,1,1,1
21240,-,"Wittman, Donna L",203,-,F,59,246.90,7725,-,19477,...,-,233.3,0,0,0,0,0,0,0,1
22190,-,"Riggs, William F.",2653,70,M,45,298.97,15308,185.98,27140,...,-,263.65,0,0,0,0,1,1,1,1
18276,-,"Beyer, Susan",603,-,F,47,227.37,4928,176.15,14570,...,-,210.48,0,0,0,0,0,1,1,1
30649,-,"Thomas, Paula B",481,-,F,57,276.48,10382,219.62,24343,...,-,257.08,0,0,0,0,0,0,1,1
3189,-,"Haushalter, Jeff",647,-,M,47,195.82,4815,160.48,5463,...,-,184.62,0,0,0,0,0,0,1,1
9547,-,"Gomes, Claudia",129,-,F,36,181.80,153,-,2649,...,-,164.78,0,0,0,0,0,0,0,1
5762,42.58,"Ruelle, Vincent",626,108.28,M,41,188.62,3552,154.42,3862,...,85.8,178.27,0,1,1,1,1,1,1,1
29208,-,"Milch, Kathy",6970,-,F,37,427.38,14332,298.42,31872,...,-,403.27,0,0,0,0,0,0,1,1
14532,-,"Crowell, Kristin",1348,-,F,30,207.60,1758,162.9,8550,...,-,194.07,0,0,0,0,0,1,1,1
25505,50.53,"Searles, Mark J.",1703,126.23,M,42,228.92,9842,186.12,14998,...,100.68,215.43,0,1,1,1,1,1,1,1

In [5]:
x = 1000
forty = []
for i in fork:
    if i == '-':
        i = x
        forty.append(i)
    else:
        forty.append(i)
df['40k'] = forty
df['40k'] = df['40k'].astype(float, errors='ignore')

x = 1000
thirtyfive = []
for i in thfk:
    if i == '-':
        i = x
        thirtyfive.append(i)
    else:
        thirtyfive.append(i)
df['35k'] = thirtyfive
df['35k'] = df['35k'].astype(float, errors='ignore')

x = 1000
thirty = []
for i in thk:
    if i == '-':
        i = x
        thirty.append(i)
    else:
        thirty.append(i)
df['30k'] = thirty
df['30k'] = df['30k'].astype(float, errors='ignore')

x = 1000
twentyfive = []
for i in twfk:
    if i == '-':
        i = x
        twentyfive.append(i)
    else:
        twentyfive.append(i)
df['25k'] = twentyfive
df['25k'] = df['25k'].astype(float, errors='ignore')

x = 1000
twenty = []
for i in twk:
    if i == '-':
        i = x
        twenty.append(i)
    else:
        twenty.append(i)
df['20k'] = twenty
df['20k'] = df['20k'].astype(float, errors='ignore')

x = 1000
half = []
for i in hk:
    if i == '-':
        i = x
        half.append(i)
    else:
        half.append(i)
df['half'] = half
df['half'] = df['half'].astype(float, errors='ignore')

x = 1000
ten = []
for i in tk:
    if i == '-':
        i = x
        ten.append(i)
    else:
        ten.append(i)
df['10k'] = ten
df['10k'] = df['10k'].astype(float, errors='ignore')

x = 1000
five = []
for i in fk:
    if i == '-':
        i = x
        five.append(i)
    else:
        five.append(i)
df['5k'] = five
df['5k'] = df['5k'].astype(float, errors='ignore')

df.head(50)

,10k,name,division,25k,gender,age,official,genderdiv,35k,overall,...,20k,40k,5k_comp,10k_comp,half_comp,20k_comp,25k_comp,30k_comp,35k_comp,40k_comp
30818,55.42,"Joyce, Patrick H.",4521,145.93,M,39,264.53,13149,216.72,22585,...,114.83,249.92,0,1,1,1,1,1,1,1
836,38.28,"Moosbrugger, Michael",2701,100.75,M,32,194.87,4672,150.93,5252,...,79.12,181.07,0,1,1,1,1,1,1,1
24071,59.80,"Ligenza, Brett R.",2693,158.65,M,45,306.95,15633,242.77,27814,...,123.30,284.98,0,1,1,1,1,1,1,1
19686,1000.00,"Chapman, Nancy L",16,1000.00,F,50,195.33,620,153.83,5359,...,1000.00,182.78,0,0,0,0,0,0,1,1
8419,1000.00,"Pater, Stephen W",2150,117.15,M,42,273.35,13794,205.55,23958,...,1000.00,251.63,0,0,1,0,1,1,1,1
28688,1000.00,"Olsen, Jenifer",827,1000.00,F,41,226.47,4763,181.03,14315,...,1000.00,212.90,0,0,0,0,0,1,1,1
26875,59.18,"McLaughlin, Laura K.",1086,154.48,F,53,278.20,10486,226.47,24556,...,121.92,262.82,0,1,1,1,1,1,1,1
27144,1000.00,"Maples, Alex S.",2993,117.77,F,28,225.57,4614,180.08,14072,...,87.70,212.17,0,0,1,1,1,1,1,1
29082,1000.00,"Olsen, Ron H",1812,1000.00,M,47,226.45,9552,180.92,14314,...,1000.00,212.82,0,0,0,0,0,1,1,1
17316,49.33,"Didonato-Sroczenski, Gia",3020,127.45,F,36,225.92,4682,184.40,14177,...,100.37,213.23,0,1,1,1,1,1,1,1
27507,65.67,"Slater, Lisa P.",5681,173.33,F,35,297.75,11769,244.90,27019,...,135.33,281.58,0,1,1,1,1,1,1,1
30819,1000.00,"Lapman, Helene",75,1000.00,F,63,255.83,8652,198.77,21125,...,1000.00,237.67,0,0,0,0,0,0,1,1
28567,1000.00,"Safford, Elizabeth",6016,1000.00,F,37,314.05,12463,1000.00,28411,...,1000.00,301.63,0,0,0,0,0,0,0,1
26030,67.12,"Gillis, Sabrina M.",6391,183.53,F,36,334.65,13183,273.18,29798,...,140.83,317.05,0,1,1,1,1,1,1,1
26399,62.33,"Finaldi, Maureen A.",1901,161.83,F,45,289.70,11306,240.27,26089,...,128.80,276.10,0,1,1,1,1,1,1,1
18480,55.82,"Decoteau, Pavla",1804,153.92,F,40,278.28,10495,228.15,24570,...,120.92,263.00,0,1,1,1,1,1,1,1
13436,1000.00,"Hennessey, Brian J",1905,122.85,M,54,260.58,12860,186.47,21963,...,98.28,232.77,0,0,1,1,1,1,1,1
14132,1000.00,"Ravensberg, Katherine",3510,1000.00,F,27,233.82,5930,171.38,16350,...,1000.00,215.78,0,0,0,0,0,0,1,1
29734,1000.00,"Murphy, Maura",3863,1000.00,F,24,240.25,6956,1000.00,18145,...,1000.00,226.73,0,0,0,0,0,0,0,1
8369,45.30,"Battaglia, Stefano",2400,117.35,M,47,268.72,13467,189.88,23252,...,92.33,245.72,0,1,1,1,1,1,1,1
29855,1000.00,"Collins, Robert E",618,1000.00,M,53,204.90,6362,156.15,7785,...,1000.00,190.35,0,0,0,0,0,1,1,1
25490,1000.00,"Gordon, Michelle K.",6718,200.30,F,21,360.92,13825,293.45,30975,...,155.75,342.57,0,0,1,1,1,1,1,1
31594,1000.00,"Fernandez Maldonado, Roberto",3139,1000.00,M,32,204.47,6275,171.33,7637,...,1000.00,194.35,0,0,0,0,0,1,1,1
29600,1000.00,"Hartnick, Elizabeth",1977,1000.00,F,47,297.93,11783,242.70,27040,...,1000.00,281.13,0,0,0,0,0,1,1,1
30427,1000.00,"Kenney, Elizabeth M.",1500,1000.00,F,44,253.85,8448,205.25,20760,...,1000.00,238.57,0,0,0,0,0,0,1,1
29282,1000.00,"Chmielewski, Karina",4645,142.48,F,38,263.02,9294,222.42,22332,...,112.12,250.70,0,0,1,1,1,1,1,1
25753,1000.00,"Gaherin, Seana",705,193.30,F,55,347.17,13544,288.05,30490,...,1000.00,328.50,0,0,1,0,1,1,1,1
1333,44.55,"Thoman, Dave",2692,112.18,M,28,194.68,4633,160.52,5206,...,89.68,184.47,0,1,1,1,1,1,1,1
27666,1000.00,"Kouri, Suzanne",1909,1000.00,F,48,290.20,11340,240.57,26155,...,1000.00,275.05,0,0,0,0,0,0,1,1
30312,1000.00,"Daye, Alison A",2036,1000.00,F,41,312.05,12377,262.40,28254,...,1000.00,296.70,0,0,0,0,0,0,1,1
30635,1000.00,"Graves, Crista M",1718,1000.00,F,44,270.45,9927,206.02,23516,...,1000.00,251.58,0,0,0,0,0,1,1,1
30328,1000.00,"Harris, Betsy",596,1000.00,F,56,297.15,11730,1000.00,26931,...,1000.00,280.22,0,0,0,0,0,0,0,1
15846,49.03,"Coyne, Jennifer",3208,125.83,F,27,228.97,5165,184.62,15010,...,99.12,214.83,0,1,1,1,1,1,1,1
27698,61.30,"Coy, Shana S.",5858,162.65,F,30,305.40,12127,246.45,27694,...,127.00,287.80,0,1,1,1,1,1,1,1
30419,1000.00,"Fahs, Virginia C",1551,105.68,F,22,209.62,2040,165.88,9207,...,1000.00,196.47,0,0,0,0,1,1,1,1
17298,57.35,"Mckay, Kerri",4550,145.65,F,39,259.92,9046,211.67,21854,...,115.37,245.60,0,1,1,1,1,1,1,1
7417,1000.00,"Dennier, Ana C",1650,1000.00,F,42,264.28,9412,218.07,22540,...,1000.00,251.72,0,0,0,0,0,0,1,1
6241,42.28,"McCann, Emily",37,106.65,F,41,189.32,331,153.13,3996,...,84.78,178.15,0,1,1,1,1,1,1,1
16901,48.68,"McCreesh, Loren",471,122.60,F,45,223.70,4309,178.00,13527,...,97.63,210.88,0,1,1,1,1,1,1,1
31911,56.15,"Marinsik, Dan S.",1517,152.45,M,55,294.33,15063,235.43,26633,...,117.73,276.20,0,1,1,1,1,1,1,1
21240,1000.00,"Wittman, Donna L",203,1000.00,F,59,246.90,7725,1000.00,19477,...,1000.00,233.30,0,0,0,0,0,0,0,1
22190,1000.00,"Riggs, William F.",2653,70.00,M,45,298.97,15308,185.98,27140,...,1000.00,263.65,0,0,0,0,1,1,1,1
18276,1000.00,"Beyer, Susan",603,1000.00,F,47,227.37,4928,176.15,14570,...,1000.00,210.48,0,0,0,0,0,1,1,1
30649,1000.00,"Thomas, Paula B",481,1000.00,F,57,276.48,10382,219.62,24343,...,1000.00,257.08,0,0,0,0,0,0,1,1
3189,1000.00,"Haushalter, Jeff",647,1000.00,M,47,195.82,4815,160.48,5463,...,1000.00,184.62,0,0,0,0,0,0,1,1
9547,1000.00,"Gomes, Claudia",129,1000.00,F,36,181.80,153,1000.00,2649,...,1000.00,164.78,0,0,0,0,0,0,0,1
5762,42.58,"Ruelle, Vincent",626,108.28,M,41,188.62,3552,154.42,3862,...,85.80,178.27,0,1,1,1,1,1,1,1
29208,1000.00,"Milch, Kathy",6970,1000.00,F,37,427.38,14332,298.42,31872,...,1000.00,403.27,0,0,0,0,0,0,1,1
14532,1000.00,"Crowell, Kristin",1348,1000.00,F,30,207.60,1758,162.90,8550,...,1000.00,194.07,0,0,0,0,0,1,1,1
25505,50.53,"Searles, Mark J.",1703,126.23,M,42,228.92,9842,186.12,14998,...,100.68,215.43,0,1,1,1,1,1,1,1

In [ ]:
X = df
#X = pd.get_dummies(X)
X = normalize(X)

# Here we set the bandwidth. This function automatically derives a bandwidth
# number based on an inspection of the distances among points in the data.
bandwidth = estimate_bandwidth(X, quantile=0.2, n_samples=500)

# Declare and fit the model.
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
ms.fit(X)

# Extract cluster assignments for each data point.
labels = ms.labels_

# Coordinates of the cluster centers.
cluster_centers = ms.cluster_centers_

# Count our clusters.
n_clusters_ = len(np.unique(labels))

print("Number of estimated clusters: {}".format(n_clusters_))

In [ ]:
sc = SpectralClustering(n_clusters=10)
sc.fit(X)
#labels = sc.labels_
#cluster_centers = sc.cluster_centers_

# Count our clusters.
#n_clusters_ = len(np.unique(labels))
#print("Number of estimated clusters: {}".format(n_clusters_))

In [ ]:
af = AffinityPropagation().fit(X)
cluster_centers_indices = af.cluster_centers_indices_
n_clusters_ = len(cluster_centers_indices)
labels = af.labels_
print('Estimated number of clusters: {}'.format(n_clusters_))

In [ ]:
y_pred = KMeans(n_clusters=10).fit_predict(X)