In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
import math
import os
from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
os.getcwd()
os.chdir('/Users/kylehoward/desktop/thinkful/thinkful-2/nfl_dfs') 
os.getcwd()
from sklearn import tree
from IPython.display import Image
import pydotplus
import graphviz

ModuleNotFoundError: No module named 'pydotplus'

In [2]:
df = pd.read_csv('test_nfl.csv')
df_1 = pd.DataFrame()
df['name'] = df['name'].astype(str)
df['points'] = df['points'].astype(int)
df_1['value'] = np.where(df['ratio']>=.003, 1, 0)
df_1['value'] = df_1['value'].astype(int)
df.head()

  position_status               name  points  salary     ratio
0             rbb      Burkhead, Rex      31    3500  0.008971
1             tet         Ertz, Zach      41    4800  0.008729
2             rbb     Draughn, Shaun      26    3200  0.008406
3             rbb       Grant, Corey      24    3000  0.008233
4             wrm  Matthews, Rishard      29    4100  0.007171

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
rfc = ensemble.RandomForestClassifier()
y = df_1.values.reshape(-1, 1)
X = df[['points', 'position_status']]
X = pd.get_dummies(X)
X.head()

,points,position_status_db,position_status_dm,position_status_dt,position_status_qbb,position_status_qbm,position_status_qbt,position_status_rbb,position_status_rbm,position_status_rbs,position_status_rbt,position_status_teb,position_status_tem,position_status_tet,position_status_wrb,position_status_wrm,position_status_wrs,position_status_wrt
0,31,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,41,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,26,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,24,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [5]:
X_training = X[:168]
y_training = y[:168]
X_test = X[168:]
y_test = y[168:]

In [6]:
rfc.fit(X_training, y_training)
#y_pred_test = rfc.predict(X_test)
#cross_val_score(rfc, X_test, y_test, cv=10)

/Users/kylehoward/Desktop/Thinkful/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [7]:
y_pred_test = rfc.predict(X_test)

In [8]:
print(y_pred_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1
 1 1 1 0 0 0 0 0 0 1 0 1 0 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0]

In [19]:
X.shape
y.shape

(240, 1)

In [20]:
rfc.score(X_test, y_test)

0.80555555555555558

In [22]:
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=2,
    max_depth=4,
    
)
decision_tree.fit(X_training, y_training)

# Render our tree.
#dot_data = tree.export_graphviz(
    #decision_tree, out_file=None,
    #feature_names=customers.columns,
    #class_names=['Not Returning', 'Returning'],
    #filled=True
#)
#graph = pydotplus.graph_from_dot_data(dot_data)
#Image(graph.create_png())
y_pred_test = decision_tree.predict(X_test)
print(y_pred_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1
 1 1 1 0 0 0 1 0 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0]

In [23]:
decision_tree.score(X_test, y_test)

0.70833333333333337