In [37]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn import neighbors
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import os
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import roc_auc_score
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn import linear_model
import seaborn as sns
import statsmodels.formula.api as smf
from IPython.display import display
import sklearn
import re
from sklearn.preprocessing import normalize
import math
import statsmodels.api as sm
from sklearn import ensemble
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn import tree
from IPython.display import Image
import pydotplus
import graphviz
os.getcwd()
os.chdir('/Users/kylehoward/desktop') 
os.getcwd()

'/Users/kylehoward/Desktop'

# Question 1

## (a)

The profits for each year should be as follows 
- 2010: 2,597,000
- 2011: 2,857,700 
- 2012: 3,144,470
- 2013: 3,459,917
- 2014: 3,806,908.7
with a 1,209,908.7 growth from 2010-2014.
Since the return far exceedes the 170,731.78 ROI necessary for a sound investment the investment is worthwhile.


## (b)

In order to make up the difference in revenue we would need to increase conversion by .0118

## (c)

Since the charge per card is .26 (assuming that each purchase is a singular card) and we can assume that this promotion is inherently to gain visibility and hopefully gain repeat consumers I would suggest 2.37 if the goal is to break even.

# Question 2

The sales for Sunday, November 1, 2009 should be 42,122.40 based on a random forrest regressor that took into account whether it was the weekend, what the temperature was, whether it was 'warm' (above 60 degrees), and which day of the week it was. This model has an R^2 score of .49 which changed drastically from using only temperature and day as parameters. The original model had a score of .03

In [123]:
def project_users(users):
    start = users
    years = []
    for e in range(5):
        gains = start * .1
        total = start + gains
        years.append(total)
        start = total
    return years
users = 10000000
user_list = project_EOY(EOY)
print(user_list)

[11000000.0, 12100000.0, 13310000.0, 14641000.0, 16105100.0]

In [143]:
def calc(user_list):
    profits = []
    for yr in user_list:
        orders = yr * .05
        total = orders * 4.74
        final_tot = total - 10000
        profits.append(final_tot)
    return profits
profit = calc(user_list)
print(profit)

[2597000.0, 2857700.0, 3144470.0, 3459917.0, 3806908.7]

In [131]:
five_year = x[4] - x[0]
print(five_year)

1209908.7000000002

In [144]:
def calc_ad_buy():
    card = 4.74
    purchase = .5
    total = card * purchase
    return total
calc_ad_buy()

2.37

In [110]:
def project_ROI(base):
    start = base
    years = []
    for e in range(5):
        gains = start * .15
        total = start + gains
        years.append(total)
        start = total
    return years
roi_list = project_ROI(62000)
print(roi_list)

[71300.0, 81995.0, 94294.25, 108438.3875, 124704.14562499999]

In [133]:
def roi_tot(roi_list):
    roi_list_2 = []
    total = 0
    for roi in roi_list:
        needed = roi - 62000
        roi_list_2.append(needed)
    for r in roi_list_2:
        total += r
    return total
roi_tot(roi_list)

170731.783125

In [136]:
def calcfb(user_list):
    profits = []
    for yr in user_list:
        orders = yr * .05
        total = orders * 4.49
        final_tot = total - 10000
        profits.append(final_tot)
    return profits
fb = calcfb(user_list)
print(fb)

[2459500.0, 2706450.0, 2978095.0, 3276904.5, 3605594.95]

In [137]:
fb_1 = fb[0]
norm_1 = profit[0]
diff = norm_1 - fb_1
print(diff)

137500.0

In [146]:
# Figuring out growth need
137500 / 4.49
30623.60 / 2597000.0

0.011791913746630727

In [142]:
def calcfb_2(user_list):
    profits = []
    for yr in user_list:
        orders = yr * .1
        total = orders * 4.49
        final_tot = total - 10000
        profits.append(final_tot)
    return profits
fb2 = calcfb_2(user_list)
print(fb2)

[4929000.0, 5422900.0, 5966190.0, 6563809.0, 7221189.9]

In [ ]:
def calc_gap(gap, yr):
    orders_needed = gap / 4.49
    rate_needed = 
    return profits
fb2 = calcfb_2(user_list)
print(fb2)

# Question 2

In [151]:
data = ('BA_SAC_Data.csv')
df = pd.read_csv(data)

In [152]:
df.head(50)

                           Date Temperature  Ice Cream Sales
0    Thursday, October 01, 2009         67F         $33,532
1      Friday, October 02, 2009         57F         $28,514
2    Saturday, October 03, 2009         82F         $49,267
3      Sunday, October 04, 2009         63F         $47,335
4      Monday, October 05, 2009         75F         $37,508
5     Tuesday, October 06, 2009         88F         $44,066
6   Wednesday, October 07, 2009         70F         $35,001
7    Thursday, October 08, 2009         74F         $37,029
8      Friday, October 09, 2009         86F         $43,036
9    Saturday, October 10, 2009         50F         $30,071
10     Sunday, October 11, 2009         57F         $42,760
11     Monday, October 12, 2009         96F         $48,086
12    Tuesday, October 13, 2009         63F         $31,578
13  Wednesday, October 14, 2009         80F         $40,005
14   Thursday, October 15, 2009         74F         $37,034
15     Friday, October 16, 2009         94F         $47,036
16   Saturday, October 17, 2009         73F         $43,861
17     Sunday, October 18, 2009         89F         $66,768
18     Monday, October 19, 2009         62F         $31,090
19    Tuesday, October 20, 2009         93F         $46,559
20  Wednesday, October 21, 2009         92F         $46,079
21   Thursday, October 22, 2009         77F         $38,533
22     Friday, October 23, 2009         52F         $26,075
23   Saturday, October 24, 2009         66F         $39,691
24     Sunday, October 25, 2009         57F         $42,784
25     Monday, October 26, 2009         96F         $48,059
26    Tuesday, October 27, 2009         59F         $29,542
27  Wednesday, October 28, 2009         85F         $42,554

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
Date                28 non-null object
Temperature         28 non-null object
 Ice Cream Sales    28 non-null object
dtypes: object(3)
memory usage: 752.0+ bytes

In [154]:
df['Temperature'] = df['Temperature'].map(lambda x: x[:2])

In [155]:
df[df.columns[2]]= df[df.columns[2]].map(lambda x: x.replace('$',''))

In [156]:
df[df.columns[2]]= df[df.columns[2]].map(lambda x: x.replace(',',''))

In [201]:
df[df.columns[2]] = df[df.columns[2]].astype(int)

In [158]:
df['Date'].astype(str)

0      Thursday, October 01, 2009
1        Friday, October 02, 2009
2      Saturday, October 03, 2009
3        Sunday, October 04, 2009
4        Monday, October 05, 2009
5       Tuesday, October 06, 2009
6     Wednesday, October 07, 2009
7      Thursday, October 08, 2009
8        Friday, October 09, 2009
9      Saturday, October 10, 2009
10       Sunday, October 11, 2009
11       Monday, October 12, 2009
12      Tuesday, October 13, 2009
13    Wednesday, October 14, 2009
14     Thursday, October 15, 2009
15       Friday, October 16, 2009
16     Saturday, October 17, 2009
17       Sunday, October 18, 2009
18       Monday, October 19, 2009
19      Tuesday, October 20, 2009
20    Wednesday, October 21, 2009
21     Thursday, October 22, 2009
22       Friday, October 23, 2009
23     Saturday, October 24, 2009
24       Sunday, October 25, 2009
25       Monday, October 26, 2009
26      Tuesday, October 27, 2009
27    Wednesday, October 28, 2009
Name: Date, dtype: object

In [202]:
df['Temperature'] = df['Temperature'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
Date                28 non-null datetime64[ns]
Temperature         28 non-null int64
 Ice Cream Sales    28 non-null int64
day                 28 non-null int64
day_week            28 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 1.2 KB

In [193]:
df['Date'] = pd.to_datetime(df['Date'])

             day  day_week
count  28.000000   28.0000
mean   14.500000    4.0000
std     8.225975    2.0367
min     1.000000    1.0000
25%     7.750000    2.0000
50%    14.500000    4.0000
75%    21.250000    6.0000
max    28.000000    7.0000

In [223]:
df['day'] = df['Date'].dt.day
df['sqrt_sales'] = df[df.columns[2]].map(lambda x: x ** .5)
df['sqr_sales'] = df[df.columns[2]].map(lambda x: x ** 2)

In [224]:
df.shape

(28, 9)

In [225]:
thursday = [1, 8, 15, 22]
friday = [2, 9, 16, 23]
saturday = [3, 10, 17, 24]
sunday = [4, 11, 18, 25]
monday = [5, 12, 19, 26]
tuesday = [6, 13, 20, 27]
wednesday = [7, 14, 21, 28]
day_list = []
#df['day_week'] = []
for day in df['day']:
    if day in monday:
        day_list.append(1)
    if day in tuesday:
        day_list.append(2)
    if day in wednesday:
        day_list.append(3)
    if day in thursday:
        day_list.append(4)
    if day in friday:
        day_list.append(5)
    if day in saturday:
        day_list.append(6)
    if day in sunday:
        day_list.append(7)
print(day_list)

[4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3]

In [233]:
df['day_week'] = day_list
df.head()
df['warm'] = np.where(df['Temperature'] >=60, 1, 0)
df['weekend'] = np.where(df['Temperature'] >=6, 1, 0)
df['later_in_year'] =np.where(df['day'] >=21, 1, 0)
df['temp_sqr'] =df[df.columns[2]].map(lambda x: x ** 2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 11 columns):
Date                28 non-null datetime64[ns]
Temperature         28 non-null int64
 Ice Cream Sales    28 non-null int64
day                 28 non-null int64
day_week            28 non-null int64
warm                28 non-null int64
weekend             28 non-null int64
sqrt_sales          28 non-null float64
sqr_sales           28 non-null int64
later_in_year       28 non-null int64
temp_sqr            28 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 2.5 KB

In [232]:
rfc = RandomForestRegressor(n_estimators=100,max_depth=5)
y = df[df.columns[2]]
X = df[[df.columns[1], df.columns[4]]]
X = normalize(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
rfc.fit(X_train, y_train)
y_pred_rfc = rfc.predict(X_test)
print('Percentage accuracy')
print(rfc.score(X_test, y_test))

Percentage accuracy
0.0379424773623

In [229]:
rfc = RandomForestRegressor(n_estimators=10000,max_depth=5)
y = df[df.columns[2]]
X = df[[df.columns[1], df.columns[4], df.columns[5], df.columns[6]]]
X = normalize(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
rfc.fit(X_train, y_train)
y_pred_rfc = rfc.predict(X_test)
print('Percentage accuracy')
print(rfc.score(X_test, y_test))

Percentage accuracy
0.36440247083

In [241]:
rfc = RandomForestRegressor(n_estimators=20000,max_depth=10)
y = df[df.columns[2]]
X = df[[df.columns[1], df.columns[4], df.columns[5], df.columns[6]]]
X = normalize(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
rfc.fit(X_train, y_train)
y_pred_rfc = rfc.predict(X_test)
print('Percentage accuracy')
print(rfc.score(X_test, y_test))

Percentage accuracy
0.490196313421

In [250]:
df_2 = pd.DataFrame()
df_2['1'] = [65]
df_2['2'] = [7]
df_2['3'] = [1]
df_2['4'] = [1]
X = df_2
X = normalize(X)
y = rfc.predict(X)
print(y)

[ 42122.40368143]